.full-entry-enter {
  max-height: 0;
  /* transform: scale(0.9); */
}

.full-entry-enter.full-entry-enter-active {
  max-height: 1000px;
  transition: all 400ms ease-in-out;
}

.full-entry-leave {

}

.full-entry-leave.full-entry-leave-active {
  transition: all 400ms ease-in-out;
}

/*---------------------*/
.p-entry-enter {
  opacity: 0;
}

.p-entry-enter.p-entry-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.p-entry-leave {
  opacity: 1;
}

.p-entry-leave.p-entry-leave-active {
  opacity: 0;
  transition: all 500ms ease-in-out;
}
